#title
{
    background-image: url(images/back.jpg);
    background-size: cover;
    height: 100vh;
}
#about
{
    background-color: #FFC107;
    height: 40vh;
}
.mylinkbut{
    text-decoration: none;
    color: #FFC107;

}
.mylinkbut:hover{
    color: black;
}

/* #emailStatusModal {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Optional: Customize modal appearance */
  .modal-dialog {
    max-width: 400px;
  } */

  /* Style for the modal overlay */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    justify-content: center;
    align-items: center;
    border-radius: 50px;
  }
  
  /* Style for the modal content */
  .modal-content {
    background-color: #fff;
    border-radius: 10px; /* Adjust the border radius as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Box shadow for a subtle lift effect */
    max-width: 600px; /* Adjust the maximum width as needed */
    width: 100%;
  }
  
  /* Style for the modal title */
  .modal-title {
    margin-bottom: 0; /* Remove default margin-bottom for the title */
  }
  
  /* Style for the modal body */
  .modal-body {
    padding: 20px;
  }
  
  /* Style for the modal footer */
  .modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
  }
  
  /* Style for the cancel button */
  .btn-secondary {
    background-color: #6c757d;
    color: #fff;
  }
  
  /* Style for the confirm button */
  .btn-primary {
    background-color: #007bff;
    color: #fff;
  }
  
  /* Optional: Style for the close button */
  .btn-close {
    color: #000;
  }
  
  /* Optional: Style for the link inside the Confirm button */
  .mylinkbut {
    color: #fff;
    text-decoration: none;
  }
  